streamlit
pandas==2.2.2
numpy==1.26.4
plotly
folium==0.17.0
streamlit-folium==0.22.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.32
xarray==2024.3.0
netCDF4==1.7.1
chromadb==0.5.3
openai==1.43.0
tiktoken==0.7.0
